<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DNF: Excellency in every Innovation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<style>
    body{
        background-color: rgb(31, 31, 31);
    }
    .Home_Tile {
        background-color: #8c8989;
        width: auto;
        height: 500px;
    }
    .H_Tile_Img {
        border-radius: 5%;
        margin-left: 25%;
        height: 100%;
        width: 50%;
    }
</style>
{% include "Nav.html" %}
    <div class="Home_Tile">
        <img src="https://res.cloudinary.com/meme-topia/image/upload/v1664006511/DNF/125939973_2825676681080534_1387655944526823370_n_b9fcfr_g8uxvz.jpg"
        class="H_Tile_Img" alt="Home_Tile_Img">
    </div>

</body>
</html>