<div class="navbar-fixed">
    <nav class="transparent">
        <div class="nav-wrapper transparent">
            <img src="https://res.cloudinary.com/meme-topia/image/upload/v1664005665/DNF/125939973_2825676681080534_1387655944526823370_n_b9fcfr.jpg"
            alt="Logo" class="Logo">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="">Contacts</a></li>
                <li><a href="">Store</a></li>
                <li><a href="">About</a></li>
            </ul>
        </div>
    </nav>
</div>
<style>
    .nav-wrapper {
        border-bottom: 2px black solid;
    }
    .transparent {
        background-color: rgba(0, 0, 0, 0);
    }
    .Logo {
        border-radius: 50px;
        height: 50px;
        width: 50px;
        margin-top: 6px;
        margin-left: 10px;
    }
</style>